<div class="container text-center mb-3 ">

  <h1 class="pt-5 pb-4">通知一覧</h1>

  　<%= link_to notifications_destroy_all_path, method: :delete do %>
  　  <h7>全削除</h7>
  　<% end %>


    <% @notifications.each do |notification| %>
     <div class="row col-6 mx-auto border mt-4 p-2 ">
    　 <%= link_to user_path(notification.visitor_id) do %>
         <%= image_tag notification.visitor.get_profile_image, size: "60x60" ,class:"rounded-circle" %>
    　 <% end %>
    　 <%= notification_form(notification) %>
    　</div>
    <% end %>


  <% if @notifications.blank? %>
  　 <p class="pt-5">通知はありません</p>
  <% end %>

</div>
