<h1>NIPPON QUEST</h1>
<h2>次はどこへ行く？何をする？</h2>

<p>「自分が訪れた場所を記録して思い出に残しておきたい！皆に知ってほしい！」</p>
<p>「どこか新しい場所に行ってみたいけど、どこへ行こう？」</p>
<p>そんな悩みを叶える、訪れた場所の思い出を記録・みんなと共有できるアプリです。</p>


<h3>新しい場所へ冒険してみませんか？</h3>

<%= link_to "新規会員登録", new_user_registration_path  %>
<%= link_to "ログイン", new_user_session_path %>
<%= link_to "試しに使ってみる" %>

<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
