@use '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
*{font-family: 'DotGothic16', sans-serif;}

.user-search-page {
  .info-area {
    height: 120px;
  }
}

.user-top-page {
  .post-info {
    height: 300px;
  }
}

.balloon1 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 40%;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 3px #555;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.balloon1:before {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 50%;
  margin-left: -15px;
  border: 12px solid transparent;
  border-top: 12px solid #FFF;
  z-index: 2;
}

.balloon1:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -17px;
  border: 14px solid transparent;
  border-top: 14px solid #555;
  z-index: 1;
}

.balloon1 p {
  margin: 0;
  padding: 0;
}

.background-side {
  background: url("../images/背景.png") center center / cover no-repeat fixed;
}