<div class="container text-center user-top-page">

  <h2 class="pt-5 mb-5">いいね一覧</h2>

  <%= render 'list', posts: @favorite_posts %>

   <div class="row justify-content-center">
    <%= paginate @favorite_posts %>
  </div>

</div>

