
<p><%= @resource.email %>様へ</p>

<p>パスワード変更手続きを行うには下記URLをクリックしていただきお手続きをお願いいたします。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>万が一、本メールに心当たりがない場合は本メールを削除してください。</p>
